<p>
  <strong>Name:</strong>
  <%= @dependency.name %>
</p>

<%= link_to 'Edit', edit_project_task_dependency_path(@project, @task, @dependency) %> |
<%= link_to 'Back to dependency ', project_task_dependencies_path(@project, @task) %>
